@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}